<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogEngine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body ng-app="app" ng-controller="layoutCtrl">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" ng-click="changeContentUrl('Home')">Blog Engine</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if (true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="changeContentUrl('Home')">Home</a>
                                </li>
                            }
                            if (true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="changeContentUrl('Post')">Post</a>
                                </li>
                            }
                            if (true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="changeContentUrl('PendingPosts')">Pendig Post</a>
                                </li>
                            }
                            if (true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="changeContentUrl('ApprovalPosts')">Approval Post</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <a class="btn btn-outline-info" ng-click="changeContentUrl('Authenticate')">Sign in</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div ng-include="contentUrl"></div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BlogEngine - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--TODO Bundle -->
    <script src="~/lib/angularjs/angular.js"></script>
    <script src="~/lib/angularjs/angular-route.js"></script>
    <script src="~/lib/angularjs/angular-sanitize.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/services/baseFactory.js"></script>
    @RenderSection("Scripts", required: false)
    <!--TODO Bundle -->
    <script src="~/app/controllers/layout/ctrl.js"></script>
    <script src="~/app/controllers/home/ctrl.js"></script>
    <script src="~/app/controllers/authenticate/ctrl.js"></script>
    <script src="~/app/controllers/post/ctrl.js"></script>
    <script src="~/app/controllers/pendingposts/ctrl.js"></script>
    <script src="~/app/controllers/approvalposts/ctrl.js"></script>

</body>
</html>
