
<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4">
            Submit
            <small>Posts Created</small>

        </h1>

        <!-- Blog Post -->
        <div ng-repeat="Created in CreatedPosts" class="card mb-4">
            <img class="card-img-top post-logo" src="img/zemoga-logo-grey.png" alt="Card image cap">
            <div class="card-body">
                <input ng-disabled="!Created.IsEditing" type="text" id="post-title" class="form-control form-control-lg mb-2" placeholder="Title" ng-model="Created.title" autocomplete="off">
                <textarea ng-disabled="!Created.IsEditing" class="form-control" id="exampleFormControlTextarea1" placeholder="What's on your mind?" rows="3" ng-model="Created.body"></textarea>
                <br />
                <div class="row">
                    <div class="col-md-5 text-left">
                        <button ng-show="Created.IsEditing" type="button" class="btn btn-success" ng-click="Methods.UpdatePost(Created)">Save</button>
                        <button ng-show="!Created.IsEditing" type="button" class="btn btn-info" ng-click="Methods.Edit(Created.id)">Edit</button>
                    </div>
                    <div class="col-md-7 text-right">
                        <button ng-show="!Created.IsEditing" type="button" class="btn btn-success" ng-click="Methods.UpdatePost(Created)">Submit to check</button>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Posted on {{Created.createdDate}}
            </div>
        </div>

        <div class="row" ng-style="{ 'display' : (Message == '') ? 'none' : '' }">
            <div class="col-md-12">
                <div ng-class="Alert" role="alert">{{Message}}</div>
            </div>
        </div>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Tip</h5>
            <div class="card-body">
                In this section you can see the posts that you have created to be able to edit or submit them definitively.
            </div>
        </div>

    </div>

</div>

